@model Shopping.Models.UserInfo

@{
    ViewBag.Title = "ChangeContactInfo";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
    Model.ConfirmPassword = Model.Password;    
}

<div class="col-md-9 padding-right font-ambleregular-black">
    <div class="panel panel-primary">
        <div class="panel-heading bold">
            <span class="glyphicon glyphicon-user"></span> My Profile
                    <p class="pull-right" style="font-weight: normal;"><a href="/User/ChangePassword" class="color-white"><span class="glyphicon glyphicon-cog"></span>&nbsp;Change Password</a></p>
        </div>
        <div class="panel-body">
            <p style="text-align: center; font-size: large; font-family: Arial sans-serif; font-stretch: semi-condensed; color: #f20909">Username : @Html.DisplayFor(model => model.UserName)</p>
            <fieldset>
                <legend><span style="font-size: large; color: #808080">Personal Information</span>
                    <a class="pull-right btn btn-primary btn-sm" href="/User/ChangePersonalInfo/@Session["LoggedUserId"]">Edit</a>
                </legend>
                <table class="table table-condensed" style="font-size:small">
                    <tr>
                        <td class="col-lg-3">@Html.Label("Full Name:")</td>
                        <td class="col-lg-9">@Html.DisplayFor(model => model.FullName)</td>
                    </tr>

                    <tr>
                        <td class="col-lg-3">@Html.Label("Gender:")</td>
                        <td class="col-lg-9">
                            @if (Model.Gender=="M")
                            {
                                <span>Male</span>
                            }
                            else if(Model.Gender=="F")
                            {
                                <span>Female</span>
                            }
                            else
                            {
                                <span>Other</span>
                            }
                        </td>
                    </tr>

                     <tr>
                        <td class="col-lg-3">@Html.Label("Zone:")</td>
                        <td class="col-lg-9">@Html.DisplayFor(model => model.Zone)</td>
                    </tr>
                     <tr>
                        <td class="col-lg-3">@Html.Label("City:")</td>
                        <td class="col-lg-9">@Html.DisplayFor(model => model.City)</td>
                    </tr>
                    <tr>
                        <td class="col-lg-3">@Html.Label("Current Address:")</td>
                        <td class="col-lg-9">@Html.DisplayFor(model => model.LocalAddress)</td>
                    </tr>

                    <tr>
                        <td class="col-lg-3">@Html.Label("Member Since:")</td>
                        <td class="col-lg-9">@Html.DisplayFor(model => model.JoinDate)</td>
                    </tr>
                </table>
            </fieldset>
            <br />
            <br />
            @using (Html.BeginForm("ChangeContactInfo","User",FormMethod.Post))
            {
                <fieldset>
                    <legend><span style="font-size: large; color: #808080">Contact Information</span>
                        <input type="submit" value="Save Changes" class="pull-right btn btn-primary btn-sm" />
                    </legend>
                    <table class="table table-condensed" style="font-size:small">
                        <tr>
                            @Html.HiddenFor(model => model.Id)
                            @Html.HiddenFor(model => model.UserName)
                            @Html.HiddenFor(model => model.Password)
                            @Html.HiddenFor(model => Model.ConfirmPassword)
                            @Html.HiddenFor(model => model.FullName)
                            @Html.HiddenFor(model => model.Gender)                                                        
                            @Html.HiddenFor(model => model.Zone)
                            @Html.HiddenFor(model => model.City)
                            @Html.HiddenFor(model => model.LocalAddress)
                            @Html.HiddenFor(model => model.JoinDate)
                            @Html.HiddenFor(model => model.IsActive)
                            @Html.HiddenFor(model => model.UserRole)
                        </tr>

                        <tr>
                            <td class="col-lg-3">@Html.Label("Email Address:")</td>
                            <td class="form-group col-sm-9">
                                <div class="col-sm-8">@Html.TextBoxFor(model => model.Email, new { @class = "form-control" })</div>
                                @Html.ValidationMessageFor(model => model.Email)
                            </td>
                        </tr>

                        <tr>
                            <td class="col-lg-3">@Html.Label("Phone Number:")</td>
                            <td class="form-group col-sm-9">
                                <div class="col-sm-8">@Html.TextBoxFor(model => model.FirstPhone, new { @class = "form-control" })</div>
                                @Html.ValidationMessageFor(model => model.FirstPhone)
                            </td>
                        </tr>

                        <tr>
                            <td class="col-lg-3">@Html.Label("Another Number:")</td>
                            <td class="form-group col-sm-9">
                                <div class="col-sm-8">@Html.TextBoxFor(model => model.SecondPhone, new { @class = "form-control" })</div>
                                @Html.ValidationMessageFor(model => model.SecondPhone)
                            </td>
                        </tr>
                    </table>
                </fieldset>
            }
        </div>
    </div>
</div>
